{% extends 'base.html.twig' %}


{% block body %}
    <h1>Room List made with Twig</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}